@model WebStore.Web.ViewModels.Administration.Dashboard.IndexViewModel
@{
    this.ViewData["Title"] = "Admin dashboard";
}


<div class="container-fluid px-4">
    <h1 class="mt-4">Dashboard</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-info text-white mb-4">
                <div class="card-header d-flex">Total Orders</div>
                <div class="row align-items-center ">
                    <i class="fas fa-shopping-cart p-4 col-4 fs-3"></i>
                    <div class="card-body px-4 h1 col-8 text-end">@Model.TotalOrders</div>
                </div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card bg-info text-white mb-4">
                <div class="card-header d-flex">Sales - $</div>
                <div class="row align-items-center ">
                    <i class="fas fa-credit-card p-4 col-4 h3"></i>
                    <div class="card-body px-4 h1 col-8 text-end">@Model.TotalSalesUsd</div>
                </div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card bg-info text-white mb-4">
                <div class="card-header d-flex">Total Customers</div>
                <div class="row align-items-center ">
                    <i class="fa fa-user p-4 col-4 h3"></i>
                    <div class="card-body px-4 h1 col-8 text-end">@Model.TotalCustomers</div>
                </div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-info text-white mb-4">
                <div class="card-header d-flex">Average Rating From Users</div>
                <div class="row align-items-center ">
                    <i class="fas fa-star p-4 col-4 h3"></i>
                    <div class="card-body px-4 h1 col-8 text-end">0</div>
                </div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">View Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-area me-1"></i>
                    Area Chart Example
                </div>
                <div class="card-body"><canvas id="myChart" width="100%" height="40"></canvas></div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-bar me-1"></i>
                    Bar Chart Example
                </div>
                <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
            </div>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            DataTable Example
        </div>
        <div class="card-body">

            <table id="customerDatatable" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Email</th>
                        <th>Date</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Price - $</th>
                        <th>Email</th>
                        <th>Date</th>
                        <th>Details</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var order in Model.Orders)
                    {
                        <tr>
                            <td>@order.Name</td>
                            <td>$@order.Price</td>
                            <td>@order.Email</td>
                            <td>@order.CreatedOn.ToString("dd/MM/yyyy hh:mm:ss tt")</td>
                            <td>
                                <a asp-area="Administration" asp-controller="Orders" 
                                   asp-action="ById" asp-route-id="@order.SellerOrderId" class="btn btn-primary">
                                    Details
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#customerDatatable').dataTable({
                "order": [[3, "desc"]],
                "columnDefs": [{ "targets": 3, "type": "date-eu" }]
            });
        });
    </script>
    <script>
        $.ajax({
            url: '/Administration/Orders/MonthlySales',
            dataType: "text",
            success: function (dataReturned) {
                console.log(dataReturned);
                drawChart(dataReturned);

            }
        });
        function drawChart(info) {
            var obj = JSON.parse(info);
            console.log(obj);
            var xValues = obj.days;
            var yValues = obj.sales;
            const labels = [
                'January',
                'February',
                'March',
                'April',
                'May',
                'June',
            ];

            const data = {
                labels: xValues,
                datasets: [{
                    fill: false,
                    label: 'My First dataset',
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: yValues,
                }]
            };

            const config = {
                type: 'line',
                data: data,
                options: {
                    plugins: {
                        filler: {
                            propagate: false,
                        },
                    },
                    interaction: {
                        intersect: false,
                    }
                },
            };

            var myChart = new Chart(
                document.getElementById('myChart'),
                config
            );
        }
    </script>
}
