@using Microsoft.AspNetCore.Identity
@using WebStore.Data.Models

@inject SignInManager<ApplicationUser> SignInManager

@model WebStore.Web.ViewModels.Product.SingleProductViewModel
@{
    ViewData["Title"] = Model.Name;
}

<div class="container-fluid">
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">@Model.Category</li>
            </ol>
        </nav>
    </div>

    <div class="row">
        <div class="row d-md-none p-2">
            <h1 class="fs-3 mb-2">@Model.Name</h1>
            <div>
                <i class="fas fa-star checked-star"></i>
                <i class="fas fa-star checked-star"></i>
                <i class="fas fa-star checked-star"></i>
                <i class="fas fa-star-half-alt checked-star"></i>
                <i class="far fa-star"></i>
                (41 Reviews)
            </div>

            <span class="fs-5 mb-2 fw-bold">
                $@Model.Price
            </span>
        </div>
        <div class="col-lg-6 col-md-7">
            <div class="mb-2">
                <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel" data-bs-interval="false">
                    <div class="carousel-inner img-thumbnail">
                        <div class="carousel-item active main-img-height-in-product">
                            <img src="@Model.ImageUrl" class="d-block img-fluid img-in-item-contrainer w-100 " alt="">
                        </div>

                        <div class="text-center carousel-item main-img-height-in-product">
                            <img src="https://assets.entrepreneur.com/content/3x2/2000/20200429211042-GettyImages-1164615296.jpeg"
                                 class="d-block img-in-item-contrainer " alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-5">
            <div class="row d-none d-md-block">
                <h1 class="fs-3">@Model.Name</h1>
                <div class="mb-2">
                    @{
                        var stars = 1;
                    }
                    @while (Model.ProductReviews.AvrScore - stars >= 0)
                    {
                        <i class="fas fa-star checked-star"></i>
                        stars = stars + 1;
                    }
                    @while (stars <= 5)
                    {
                        if (stars - Model.ProductReviews.AvrScore < 1 && stars - Model.ProductReviews.AvrScore >= 0.5)
                        {
                            <i class="fas fa-star-half-alt checked-star"></i>
                        }
                        else
                        {
                            <i class="far fa-star"></i>
                        }
                        stars = stars + 1;
                    }
                    (@Model.ProductReviews.Reviews.Count() Reviews)
                </div>
                <span class="fs-5 mb-2 fw-bold">
                    $@Model.Price
                </span>
                <hr class="my-3" />
            </div>
            <div class="row">
                <div class="col-4">
                    <ul class="list-unstyled">
                        <li><span class="fw-bold">Model:</span> </li>
                        <li><span class="fw-bold">Category:</span> </li>
                        <li><span class="fw-bold">Availability:</span></li>
                        <li><span class="fw-bold">Made in:</span> </li>
                        <li><span class="fw-bold">Shipping from:</span> </li>
                    </ul>
                </div>
                <div class="col-8">
                    <ul class="list-unstyled">
                        <li>asdasd <br /> </li>
                        <li>@(Model.Category != null ? Model.Category : "None")  <br /> </li>
                        <li>@(Model.AvailableQuantity > 0 ? "In stock - " + Model.AvailableQuantity.ToString() : "Out of stock") <br /></li>
                        <li>China <br /></li>
                        <li>China <br /></li>
                    </ul>
                </div>
                <hr />
                <div class="">
                    @Html.Raw(Model.SanitizedShortDescription)
                </div>
                <div class="text-muted mt-3">
                    Quantity
                </div>

                <form method="post" id="antiForgeryForm"></form>
                <div class="w-25 w-auto">
                    <input id="quantityValue" type="number" class="form-control" value="1" min="1" max="1000">
                </div>
                <div class="mt-4">
                    <button class="btn btn-primary me-2 " onclick="addToCartWithQuantity(@Model.Id)">Add To Cart</button>
                    <a asp-controller="ShoppingCart" asp-action="Checkout" class="btn btn-secondary">Go To Checkout</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4 ms-0 mb-4">
        <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
            <li class="nav-item col-4" role="presentation">
                <a class="nav-link active text-center" id="home-tab" data-bs-toggle="tab" data-bs-target="#description" type="button" role="tab" aria-controls="home" aria-selected="true">Description</a>
            </li>
            <li class="nav-item col-4 text-center" role="presentation">
                <a class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#reviews" role="tab" type="button" aria-controls="contact" aria-selected="false">Reviews</a>
            </li>

            <li class="nav-item col-4 text-center" role="presentation">
                <a class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#faq" role="tab" type="button" aria-controls="profile" aria-selected="false">FAQ</a>
            </li>
        </ul>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="home-tab">
                @Html.Raw(Model.SanitizedDescription)
            </div>
            <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="contact-tab">
                @if (this.SignInManager.IsSignedIn(this.User))
                {
                    <form asp-controller="Products" asp-action="CreateReview" asp-route-id="@Model.Id" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group mb-2">
                            <label asp-for="FullName" class="control-label"></label>
                            <input asp-for="FullName" class="form-control" />
                            <span asp-validation-for="FullName" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-2">
                            <label asp-for="Content" class="control-label"></label>
                            <textarea asp-for="Content" class="form-control"></textarea>
                            <span asp-validation-for="Content" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-2">
                            <label asp-for="Stars"></label>
                            <input asp-for="Stars" value="5" min="1" max="5" class="form-control" />
                            <span asp-validation-for="Stars" class="text-danger"></span>
                        </div>
                        <div class="form-group ">
                            <input type="submit" value="Add Review" class="btn btn-primary" />
                        </div>
                    </form>
                }
                else
                {
                    <div class="text-danger">You need to login to make a review</div>
                }

                @foreach (var review in Model.ProductReviews.Reviews)
                {
                    <div class="card mb-4 mt-2">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-6">@review.Name</div>
                                <div class="col-6 text-end">
                                    @{
                                        stars = 1;
                                    }
                                    @while (Model.ProductReviews.AvrScore - stars >= 0)
                                    {
                                        <i class="fas fa-star checked-star"></i>
                                        stars = stars + 1;
                                    }
                                    @while (stars <= 5)
                                    {
                                        if (stars - Model.ProductReviews.AvrScore < 1 && stars - Model.ProductReviews.AvrScore >= 0.5)
                                        {
                                            <i class="fas fa-star-half-alt checked-star"></i>
                                        }
                                        else
                                        {
                                            <i class="far fa-star"></i>
                                        }
                                        stars = stars + 1;
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-text">@review.Content</p>
                        </div>
                        <div class="card-footer text-muted">
                            Create on: @review.CreatedOn
                        </div>
                    </div>

                }
            </div>
            <div class="tab-pane fade" id="faq" role="tabpanel" aria-labelledby="profile-tab">tets</div>
        </div>
        <div class="col-4">

        </div>
    </div>
</div>


@section Scripts{

} 