@model IEnumerable<WebStore.Web.ViewModels.Product.ListProductOutputModel>

<div class="d-flex align-items-center justify-content-between py-4 results">
    <div>Showing 1-40 of 350</div>
    <div>
        <span>Price: </span> <select name="price" id="price">
            <option value="l2h" selected>low to high</option>
            <option value="l2h">high to low</option>
        </select>
    </div>
</div>
<div class="row row-cols-1 row-cols-md-4 g-4">
    @foreach (var product in this.Model)
    {
        <div class="col">
            <div class="card h-100 text-center" style="width: 16rem;">
                <div class="min-img-height-products-list">
                    <a asp-controller="Products" asp-action="ById" asp-route-id="@product.Id">
                        <img src="@product.ImageUrl" class="card-img-top img-in-item-contrainer img-fluid" alt="@product.Name">
                    </a>
                </div>
                <div class="card-body ">
                    <h5 class="card-title h-50">@product.Name</h5>
                    <p class="card-text">@product.Price.ToString("f2") lv.</p>
                    
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
    }

</div>


