@model WebStore.Web.ViewModels.Product.ListProductsViewModel
@inject WebStore.Services.Data.Contracts.ICategoriesService categoriesService
@{
    var categories = categoriesService.GetAllMainCategoriesInfo();
}
<div class="container-fluid p-0">
    <div class="row g-2">
        <div class="col-lg-3">
            <div class="bg-white flex-shrink p-3">
                <a asp-controller="Categories" asp-action="All" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                    <span class="h4 fw-semibold">Categories</span>
                </a>
                <ul class="list-unstyled ps-0">
                    @foreach (var category in categories)
                    {
                        <li class="mb-1 ">
                            <button class="btn btn-toggle align-items-center rounded collapsed @(category.SubCategories.Count() < 1 ? "disabled" : "")" data-bs-toggle="collapse" data-bs-target="#@category.Name-collapse" aria-expanded="false">
                            </button>
                            <a asp-controller="categories" asp-action="ById" asp-route-id="@category.Id" class="fs-5 link-dark text-root-category">
                                @category.Name
                            </a>
                            <div class="collapse" id="@category.Name-collapse">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                    @foreach (var subCategory in category.SubCategories)
                                    {
                                        <li>
                                            <a asp-controller="categories" asp-action="ById" asp-route-id="@subCategory.Id" class="fs-6 link-dark rounded">
                                                @subCategory.Name
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </li>
                    }

                    <li class="border-top my-3"></li>
                </ul>
            </div>
        </div>

        <div class="col-lg-9">
            <div class="row g-2">
                @foreach (var product in Model.Products)
                {
                    <div class="col-md-4">
                        <div class="product py-4">
                            <!---<span class="off bg-success">-25% OFF</span> -->
                            <div class="text-center min-img-height-products-list">
                                <a asp-controller="Products" asp-action="ById" asp-route-id="@product.Id">
                                    <img src="@product.ImageUrl" width="240" class="img-fluid img-in-item-contrainer">
                                </a>
                            </div>
                            <div class="about text-center">
                                <div class="container caption">
                                    <h5 class="text-break">@product.Name</h5>
                                </div><span class="h5">$@product.Price</span>
                            </div>
                            <div class="cart-button mt-3 px-2 d-flex justify-content-between align-items-center">
                                <span class="product_fav"><i class="fas fa-heart"></i></span>
                                <button class="btn btn-primary text-uppercase" onclick="addToCart(@product.Id, 1)">Add to cart</button>
                                <div class="add">
                                    <span class="product_fav"><i class="fab fa-opencart"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
        @if (Model.Products.Count() > 0)
        {
            <partial name="_PagingPartial" model="@Model" />
        }
        <form method="post" id="antiForgeryForm"></form>
        <div class="modal fade" id="addedItemToCart" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">You Just Added Item To Your Cart</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary text-uppercase" data-bs-dismiss="modal">Continue Shopping</button>
                        <button type="button" class="btn btn-primary text-uppercase">Go to cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

