@model WebStore.Web.ViewModels.ShoppingCart.ItemInCartListViewModel

@if (Model.Items.Count() == 0)
{
    <div class="row px-2">
        Your cart is empty
    </div>
}
else
{
    @*<table class="table">
            <thead>
                <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total Price</th>
                </tr>
            </thead>
        </table>*@
    @foreach (var item in Model.Items)
    {
        <div id="@item.Id">
            <div class="row">
                <div class="col-4">
                    <div class="img-height-img-in-cart img-thumbnail ">
                        <a asp-controller="Products" asp-action="ById" asp-route-id="@item.ProductId">
                            <img src="@item.ProductImageUrl" class="img-in-item-contrainer img-max-height-item-in-cart" />
                        </a>
                    </div>
                </div>
                <div class="col-8">
                    <div class="fw-bold fs-5 text-break">
                        @item.ProductName
                    </div>
                    <div class="text-muted">
                        Product Price - $@item.ProductPrice
                    </div>
                    <div class="text-muted">
                        Quantity - @item.Quantity
                    </div>
                    <div class="text-info">
                        Price - $@item.ItemTotalPrice
                    </div>
                    <button class="btn btn-danger text-end" onclick="removeCartItem('@item.Id')">
                        Remove
                    </button>
                </div>
            </div>
            <hr />
        </div>
    }
    <div class="row fs-5" >
        <span class="col">Total (USD)</span>
        <strong class="col text-end text-warning" id="cartTotalPrice">$@Model.TotalPrice</strong>
    </div>
}
